.gallery {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  
  .gallery__card {
    width: 370px;
    background: var(--primary-white-color);
  }
  
  .gallery__link {
    display: block;
    text-decoration: none;
    transition: box-shadow var(--timing-effects);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  .gallery__card-bottom {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border: 1px solid #eeeeee;
    border-top: none;
  }
  
  .gallery__card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
  }
  .gallery__bottom-text {
    font-size: 16px;
    line-height: 1.9;
    color: var(--primary-text-color);
    margin-top: 4px;
  }
  
  .gallery__card-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .gallery__card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    color: var(--primary-white-color);
  
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 1.2;
    
    overflow: auto;
    transform: translateY(100%);
    transition: transform var(--timing-effects);
  
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;

    .gallery__link:hover &,
    .gallery__link:focus & {
      transform: translateY(0%);
    }
  }